# Python cache files
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints

# Egg info
*.egg-info/

# Logs and outputs
outputs/
output/

# Hydra outputs
.hydra/

# IDE settings
.vscode/
.idea/

discovery.egg-info/

**/wandb
**/mlruns

*.csv
*.db
*.pth
*.pkl
*.pbz2
*.png
*.lock

phd/sandbox/nethack_benchmarking/data/nld-nao/
phd/sandbox/atari_prediction_generalization/data/
phd/sandbox/one_off_experiments/learning_by_pruning/data/

# Ignore symlinks
*.lnk
*.html

# Cached data
.v_star_cache/

# Build artifacts
build/