# Python cache files
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints

# Egg info
*.egg-info/

# Logs and outputs
outputs/

# Hydra outputs
.hydra/

# IDE settings
.vscode/
.idea/

discovery.egg-info/

**/wandb
**/mlruns

*.csv
*.db
*.pth
*.pkl
*.pbz2
*.png
*.lock

phd/sandbox/nethack_benchmarking/data/nld-nao/

# Ignore symlinks
*.lnk